embeddings/vectordb_texts.json
embeddings/vectordb.index
__pycache__/
.env
.venv/
*.pdf
*.index
*.pkl
debug_*.txt
models/mistral-7b.Q4_K_M.gguf
.pytest_cache/
.mypy_cache/
.ruff_cache/
tests/__pycache__/
*.egg-info/
*.zip
debug_*.txt